.cart-icon {
    display: none;
}
.about-us {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    color: rgba(0, 0, 0, .8);
    /* font-family: "montserrat", sans-serif; */
    font-family: 'Rubik';
    min-height: 90svh;
}
.about-us article {
    outline: var(--border);
}
.about-us .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--highlight-color);
    color: white;
    letter-spacing: 2px;
    padding-inline: 1rem;
}
.about-us .image-1 {
    background-image: url("/public/img/about-image/img1.JPG");
    background-size: cover;
    background-position: center 80%;
}
.about-us .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: "montserrat", sans-serif;
}
.about-us .heading h1 {
    color: rgba(0, 0, 0, .8);
    transform: rotate(-90deg) translatey(-.5rem);
}
.about-us .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}
.about-us .info p {
    max-width: 50ch;
}
.about-us .info p:first-child {
    margin-bottom: 1rem;
}
.about-us .blank {
    background-color: #884c43;
    background-image: url(/public/img/about-image/img2.JPG);
    background-size: cover;
}
.span-2 {
    grid-column: span 2;
}
@media (max-width: 750px) {
    .about-us {
        min-height: 80svh;
    }
}
@media (max-width: 690px) {
    .about-us {
        grid-template-columns: 1fr;
        grid-template-rows: 40svh 40svh 40svh max-content 40svh;
        min-height: 90svh;
    }
    .about-us .heading h1 {
        transform: rotate(0deg) translatey(0);
        font-size: var(--fs-400);
    }
}