.cart-icon {
    display: none;
}
.contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr min-content;
    color: white;
    /* font-family: "montserrat", sans-serif; */
    font-family: 'Rubik';
    min-height: 90svh;
}
.contact article {
    outline: var(--border);
}
.contact .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--highlight-color);
    color: white;
    letter-spacing: 2px;
    padding-inline: 1rem;
}
.contact .image-1 {
    background-image: url("/public/img/about-image/img1.JPG");
    background-size: cover;
    background-position: center 80%;
}
.contact .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-400);
    font-family: "montserrat", sans-serif;
}
.qr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.qr-code {
    max-width: 50%;
}
.contact .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
.contact .info p {
    max-width: 50ch;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.phone,
.email {
    font-size: 1.5rem;
    font-weight: 500;
}
.contact .info p:first-child {
    margin-bottom: 1rem;
}
.contact .social-links {
    display: flex;
    gap: 1rem;
    border-top: var(--border);
}
.social-links i {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: white;
    transition: color 300ms linear;
}
.social-links i:hover {
    color: var(--highlight-color);
}
.contact .blank {
    background-color: #884c43;
    background-image: url(/public/img/about-image/img2.JPG);
    background-size: cover;
}
.span-2 {
    grid-column: span 2;
}
@media (max-width: 750px) {
    .contact {
        min-height: 80svh;
    }
}
@media (max-width: 690px) {
    .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 40svh 40svh 40svh max-content 40svh;
        min-height: 90svh;
    }
}