:root {
    --nav-h: 10svh;
    --nav-mobile-clr: 6, 11, 25;
    --fs-nav-100: 1.5rem;
    --fs-nav-200: 2rem;
    --content: 0;
}
nav {
    position: sticky;
    top: 0;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: rgba(var(--clr-100), 1);
    font-size: var(--fs-100);
    z-index: 99999;
}
nav > * {
    min-height: var(--nav-h);
    align-items: center;
}
nav .logo {
    font-size: 2rem;
    margin-left: 2rem;
}
nav a {
    color: rgba(var(--clr-100), 1);
}
nav a,
nav i {
    transition: color .2s linear;
}
nav a:hover,
nav i:hover {
    color: var(--highlight-color);
}
nav > .page-links {
    justify-content: space-evenly;
}
nav > .contact-section > .fourth-section {
    margin: auto;
    border-left: var(--border);
    padding-left: 1rem;
}
nav > .contact-section > .social-links {
    gap: 1rem;
    margin: auto;
}
@media (max-width: 750px) {
    nav {
        grid-template-columns: repeat(2, 1fr);
    }
    nav > .contact-section  {
        grid-column: span 2;
    }
}
.nav-btn > * {
    display: none;
}
.nav-mobile {
    display: none;
}
@media (max-width: 450px) {
    nav {
        position: relative;
        grid-template-columns: 2fr 1fr;
    }
    nav > .contact-section  {
        grid-column: 2;
        justify-content: flex-end;
    }
    nav > .contact-section > .fourth-section {
        margin: 0;
        border: none;
    }
    nav > .page-links,
    nav > .contact-section >  .social-links,
    nav .fourth-section > .get-in-touch {
        display: none;
    }
    .nav-btn {
        display: flex;
        align-items: center;
        padding-inline: 2rem;
    }
    [data-nav-collapsed="false"] .nav-btn > .bars{
        display: block;
    }
    [data-nav-collapsed="true"] .nav-btn > .cross{
        display: block;
    }
    [data-nav-collapsed="false"] > .nav-mobile{
        transform: translateY(calc(-100% - 10svh));
    }
    [data-nav-collapsed="true"] .nav-btn > .cross{
        transform: translateY(0);
    }
    .nav-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 100;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 90svh;
        background-color: rgba(var(--nav-mobile-clr), .99);
        text-align: center;
        transition: transform 300ms linear;
    }
    .nav-mobile > .page-links {
        flex-direction: column;
        gap: 2rem;
        font-size: var(--fs-nav-200);
        margin-bottom: 2rem;
    }
    .nav-mobile > .social-links {
        gap: 1rem;
        font-size: var(--fs-nav-100);
    }
    .nav-mobile > .get-in-touch {
            border-top: 2px solid white;
            padding-block: 1rem;
    }
}

.cart-icon {
    position: absolute;
    right: 1px;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border: none !important;
    outline: var(--border);
    background-color: var(--background-color);
}
.cart-icon > .cart-btn {
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.cart-icon > .cart-btn > p{
    display: none;
    font-weight: 500;
}
[data-menu-open="true"] {
    width: 250px;
}
[data-menu-open="true"] > .cart-btn >  p {
    display: inline;
}
[data-cart-hidden="true"] {
    display: none;
}
.cart-icon > .cart-btn > i > .count {
    font-size: 8px;
    transition: color .2s linear;
}
.cart-btn:hover > i > .count,
.cart-btn:hover > i {
    color: var(--highlight-color);
}
.cart-order {
    width: 100%;
    padding-block: 1rem;
    border: var(--border);
    background-color: rgba(var(--clr-100), .5);
    background-color: var(--background-color);
}
.cart-order:hover {
    color: rgba(var(--clr-100), 1);
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cart-items {
    position: absolute;
    top: 100%;
    right: 0%;
    justify-content: stretch;
    background-color: var(--background-color);
    width: 0;
    max-height:0svh;
    overflow-y: scroll;
    border-top: var(--border);
    border-bottom: var(--border);
}
[data-menu-open="true"] .cart-items {
    transition: max-height 100ms linear;
    max-height: 60svh;
    min-width: calc(100% + 1px);
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border)
}
.cart-item > .cart-item-image {
    max-width: 100px;
}
.cart-item .cart-item-name-s {
    font-size: .9rem;
    max-width: 10ch;
    font-weight: 100;
    word-wrap: break-word;
}
.cart-item .cart-item-name-s {
    font-size: .9rem;
    max-width: 10ch;
    font-weight: 100;
    text-wrap: wrap;
}
.cart-item .cart-item-price {
    font-size: .9rem;
    font-weight: 400;
}
.cart-item .cart-item-delete-icon {
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    margin-right: 1rem;
}
.cart-item .cart-item-delete-icon:hover > i{
    color: red !important;
}