:root {
    --text-clr-white: rgba(255, 255, 255, .8)
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90svh;
    padding: 2rem;
    gap: 2rem;
}
.main-heading,
.main-para {
    text-align: center;
    padding: 1rem;
    color: rgba(var(--clr-100), .8);
    max-width: 50ch;
    margin: auto;
}

.main-heading {
    font-size: var(--fs-400);
    font-family: "montserrat", sans-serif;
}
.main-para {
    font-weight: 500;
    letter-spacing: 1px;
    font-family: "montserrat", sans-serif;
}
.whats-app-qr {
    padding-bottom: 2rem;
    border-bottom: var(--border);
    margin-inline: 2rem;
}
.whats-app-qr > img {
    display: block;
    max-width: 150px;
    margin: auto;
}
@media (max-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.cart-icon {
    display: none;
}
.order-items-section {
    border: var(--border);

}
.order-items {
    height: min-content;
    max-height: 100svh;
    overflow: auto;
    color: var(--text-clr-white);
    background-color: rgba(var(--clr-100), .8);
    
    
}
.cart-item {
    align-items: center;
    justify-content: flex-start;
}
.cart-item > .cart-item-image {
    max-width: 100px;
}
.cart-item-info {
    flex-basis: 100%;
    padding-left: 1rem;
}
.cart-item .cart-item-name-s {
    font-size: 1.2rem;
    max-width: 100%;
    font-weight: 100;
    text-wrap: wrap;
}
.cart-item .cart-item-price {
    font-size: .9rem;
    font-weight: 400;
}
.cart-item .cart-item-delete-icon {
    justify-self: flex-end;
    width: 20%;
}
.total {
    display: flex;
    align-items: center;
    height: 10svh;
    color: rgba(var(--clr-100), .8);
    padding-left: 1rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
}
/* Form Styling */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: -4px;
}
main .main-heading {
    grid-column: span 2;
}
@media (max-width: 750px) {
    .order-items-section {
        width: 100%;
        max-height: 150svh !important;
    }
    main .main-heading {
    grid-column: auto;
}
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* border, padding, margin, width */
#fs-frm input:not([type="submit"]),
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: var(--border);
  background-color: transparent;
  padding: .75em 1rem;
}
form label,
form legend {
    color: rgba(var(--clr-100), .8) !important;
}
[type="submit"] {
  border: var(--border) !important;
  padding: .75em 1rem !important;
}
[type="submit"]:hover {
  background-color: var(--highlight-color);
  color: var(--text-clr-white) !important;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="submit"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    color: rgba(var(--clr-100), .8);
    display: inline;
}
#fs-frm fieldset.locale select[name="state"]:active,
#fs-frm fieldset.locale select[name="state"]:focus {
    color: var(--background-color);
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}
[for="message"] {
    display: none !important;
}
form input:not(:last-of-type) {
    margin-bottom: 1rem !important;
}
form input:focus {
    background-color: rgba(var(--clr-100), .8) !important;
    color: var(--background-color) !important;
}
select {
    color: rgba(var(--clr-100), .8) !important;
}
select > option {
    color: var(--background-color);
}
#note {
    color: rgba(var(--clr-100), .8) !important;
}
.form-message {
    color: rgba(var(--clr-100), .8) !important;
}
.empty {
    font-weight: 600;
    font-size: 2.5rem;
    color: rgba(var(--clr-100), .7);
}